*{
    box-sizing: border-box;
    font-family: monospace;
}

body{
    margin: 0;
}

.full-screen-container{
    /* for image 1-5 */
    background-image: url('background.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    background-color: hsl(201, 100%, 6%, 0.6);
    /* top-bot, left-right */
    padding: 50px 30px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
}

.login-title{
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label{
    color: white;
    font-weight: lighter;
    font-size: 1.5em;
    margin-bottom: 7px;
}

.input-group input{
    background-color: hsl(201, 100%, 91%, 0.3);
    border: 1px solid hsl(201, 100%, 6%);
    outline: none;
    font-size: 1.5em;
    padding: .1em .25em;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
}

.input-group input:focus{
    border: 1px solid hsl(201, 100%, 50%)
}

.login-btn{
    padding: 10px, 30px;
    width: 100%;
    background-color: hsl(201, 100%, 50%, 0.1);
    border-radius: 5px;
    border: 1px solid hsl(201, 100%, 50%);
    outline: none;
    font-weight: lighter;
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.login-btn:hover{
    background-color: hsl(201, 100%, 50%, 0.3);
}

.login-btn:focus{
    background-color: hsl(201, 100%, 50%, 0.5);
}