:root{    
    /* root is equi to html element means apply to whole html5 page */
    font-size: 16px;
    /* declare variables in body or in root to access those globaly */
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    /* rem is relative to the font-size of the root element */
    /* 1rem = font-size in root element */
    width: 0.5rem;
}

::-webkit-scrollbar-track{
    background: var(--text-primary);
}

::-webkit-scrollbar-thumb{
    background: palevioletred;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    /* 5rem = 5 * 16 = 80 */
    width: 5rem;  
    /* vh = viewport of the screen, 100vh = 100% to the screen */
    height: 100vh;
    /* An element with position: fixed; is positioned relative to the viewport,
    which means it always stays in the same place even if the page is scrolled */
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item{
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

.nav-item:last-child {
    margin-top: 600px;
}

.nav-link{
    text-decoration: none;
    color: var(--text-primary);
}

.link-text:hover{
    color: #df49a6;
    /* blur effect */
    text-shadow: 2px 2px 5px pink;
}

.navbar:hover {
    width: 16rem;
}

@media only screen and (min-width: 600){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .link-text:hover{
        color: #df49a6;
        text-shadow: 2px 2px 5px pink;
    }
}

/* @media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }
} */