* {
    /* The box-sizing property allows us to include the padding and border in an element's total width and height.
    If you set box-sizing: border-box; on an element, padding and border are included in the width and height. */
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    /* as far as possible from each other */
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title{
    font-family: monospace;
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

/* li and all the anchor tag inside it */
.navbar-links li a{
    font-size: 1rem;
    font-family: monospace;
    text-decoration: none;
    color: white;
    padding: 1rem;
    /* use all extra space available */
    display: block;
}

.navbar-links li:hover{
    /* do this without display: block; */
    transition: .5s;
    background-color: #555;
    text-shadow: 2px 2px 5px white;
}

.toggle-btn{
    position: absolute;
    top: .75rem;
    /* push to right of the screen */
    right: 1rem;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px){
    .navbar{
        /* toggle position: absolute; will override this */
        flex-direction: column;
        /* align-items: flex-start; */
    }
    .toggle-btn{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li{
        text-align: center;
    }
    .navbar-links ul li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}